<section id="one" class="tiles">
  <article>
    <span class="image">
      <img src="#" alt="" />
    </span>
    <header class="major">
      <h3><a href="#" class="link">homepage</a></h3>
      <p></p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="#" alt="" />
    </span>
    <header class="major">
      <h3><a href="#" class="link">is work</a></h3>
      <p></p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="#" alt="" />
    </span>
    <header class="major">
      <h3><a href="#" class="link">in</a></h3>
      <p></p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="#" alt="" />
    </span>
    <header class="major">
      <h3><a href="#" class="link">progress</a></h3>
      <p></p>
    </header>
  </article>
</section>
